@model InternDetailsModel
@{
    ViewData["Title"] = $"Стажер (id = {Model.Intern.Id})";
}

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="props-margin-top">
    <h3>@Html.DisplayNameFor(model => model.Doctor) <a asp-controller="Doctors" asp-action="Details" asp-route-id="@Model.Doctor.Id" class="btn btn-light">@Html.DisplayFor(model => model.Doctor.Id)</a></h3>
</div>
<table class="props-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Doctor.Name):</th>
        <td>@Html.DisplayFor(model => model.Doctor.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Doctor.Salary):</th>
        <td>@Html.DisplayFor(model => model.Doctor.Salary)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Doctor.Surname):</th>
        <td>@Html.DisplayFor(model => model.Doctor.Surname)</td>
    </tr>
</table>