@model InternsIndexModel
@{
    ViewData["Title"] = "Стажеры";
}

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<a asp-action="Create" class="btn btn-sm btn-primary" style="margin-top: 5px; width: 160px;"><i class="fa fa-plus"></i> Создать</a>

@using (Html.BeginForm("Index", "Interns", FormMethod.Get, new { onsubmit = "formGetRedirect(event);" }))
{
    <table>
        <tr>
            <td class="align-content-end">
                <label asp-for="DoctorNames">@Html.DisplayNameFor(model => model.DoctorNames):</label>
                <input asp-for="DoctorNames" class="form-control" />
            </td>
            <td class="align-content-end">
                <button type="submit" class="btn btn-sm btn-success" style="width: 100px; line-height: 2;"><i class="fa fa-search"></i> Поиск</button>
            </td>
            <td class="align-content-end">
                <a asp-action="Index" class="btn btn-sm btn-default" style="width: 100px; line-height: 2;"><i class="fa fa-times"></i> Сбросить</a>
            </td>
        </tr>
    </table>
}

<table class="table table-hover">
    <thead>
    <tr>
        <th style="width: 20%;">@Html.DisplaySortColumnTitle(Context, Model.SortBy, nameof(InternModel.Id), model => model.Interns.First().Id, true)</th>
        <th style="width: 30%;">@Html.DisplaySortColumnTitle(Context, Model.SortBy, nameof(InternModel.DoctorName), model => model.Interns.First().DoctorName)</th>
        <th style="width: 50%;" />
    </tr>
    </thead>
    <tbody>
    @foreach (var intern in Model.Interns.EmptyIfNull())
    {
        <tr>
            <th><a asp-action="Details" asp-route-id="@intern.Id" class="btn btn-light">@Html.DisplayFor(model => intern.Id)</a></th>
            <td>@Html.DisplayFor(model => intern.DoctorName) (@Html.DisplayFor(model => intern.DoctorId))</td>
            <td class="text-end">
                <a asp-action="Edit" asp-route-id="@intern.Id" class="btn btn-sm btn-info" style="margin-top: 5px; width: 140px;"><i class="fa fa-pencil"></i> Редактировать</a>
                <br />
                @using (Html.BeginForm("Delete", "Interns", new { intern.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-sm btn-danger" style="margin-top: 5px; width: 140px;" onclick="return deleteConfirm('стажера', @intern.Id);"><i class="fa fa-trash"></i> Удалить</button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.DisplayPagination(Context, Model)