@model InternsIndexModel
@{
    ViewData["Title"] = "Стажеры";
}

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<a asp-action="Create" class="btn btn-sm btn-primary" style="margin-top: 5px; width: 160px;"><i class="fa fa-plus"></i> Создать</a>

@using (Html.BeginForm("Index", "Interns", FormMethod.Get, new { onsubmit = "formGetRedirect(event);" }))
{
    <table>
        <tr>
            <td style="align-content: end;">
                <label asp-for="DoctorNames">@Html.DisplayNameFor(model => model.DoctorNames):</label>
                <input asp-for="DoctorNames" class="form-control" />
            </td>
            <td style="align-content: end;">
                <button type="submit" class="btn btn-sm btn-success" style="width: 100px; line-height: 2;"><i class="fa fa-search"></i> Поиск</button>
            </td>
            <td style="align-content: end;">
                <a asp-action="Index" class="btn btn-sm btn-default" style="width: 100px; line-height: 2;"><i class="fa fa-times"></i> Сбросить</a>
            </td>
        </tr>
    </table>
}

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Interns!.FirstOrDefault()!.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Interns!.FirstOrDefault()!.DoctorId)</th>
        <th />
    </tr>
    </thead>
    <tbody>
    @foreach (var intern in Model.Interns.EmptyIfNull())
    {
        <tr>
            <th>@Html.DisplayFor(model => intern.Id)</th>
            <td>@Html.DisplayFor(model => intern.DoctorName) (@Html.DisplayFor(model => intern.DoctorId))</td>
            <td style="justify-items: right;">
                <a asp-action="Edit" asp-route-id="@intern.Id" class="btn btn-sm btn-info" style="margin-top: 5px; width: 140px;"><i class="fa fa-pencil"></i> Редактировать</a>
                <br />
                @using (Html.BeginForm("Delete", "Interns", new { intern.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-sm btn-danger" style="margin-top: 5px; width: 140px;" onclick="return deleteConfirm('стажера', @intern.Id);"><i class="fa fa-trash"></i> Удалить</button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div style="margin-top: 8px;">
    Количество: @Model.TotalCount
</div>

<div style="margin-top: 4px;">
    <a onclick="changePage(@Model.Page - 1);" class="btn btn-sm btn-outline-primary@(Model.HasPrevPage ? "" : " disabled")"><i class="fa fa-chevron-left"></i> Назад</a>
    Страница @Model.Page из @Model.TotalPages
    <a onclick="changePage(@Model.Page + 1);" class="btn btn-sm btn-outline-primary@(Model.HasNextPage ? "" : " disabled")">Вперед <i class="fa fa-chevron-right"></i></a>
</div>