@model WardsIndexModel

<script>
    function onDeleteClick() {
        return confirm("Удалить палату?");
    }
</script>

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>Палаты</h2>
</div>

<a asp-action="Create" class="btn btn-sm btn-info" style="margin-top: 5px; width: 160px;">Создать</a>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Wards.FirstOrDefault()!.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Wards.FirstOrDefault()!.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Wards.FirstOrDefault()!.Places)</th>
        <th>@Html.DisplayNameFor(model => model.Wards.FirstOrDefault()!.DepartmentId)</th>
        <th />
    </tr>
    </thead>
    <tbody>
    @foreach (var ward in Model.Wards)
    {
        <tr>
            <th>@Html.DisplayFor(model => ward.Id)</th>
            <td>@Html.DisplayFor(model => ward.Name)</td>
            <td>@Html.DisplayFor(model => ward.Places)</td>
            <td>@Html.DisplayFor(model => ward.DepartmentName) (@Html.DisplayFor(model => ward.DepartmentId))</td>
            <td>
                <a asp-action="Edit" asp-route-id="@ward.Id" class="btn btn-sm btn-info" style="margin-top: 5px;">Редактировать</a>
                <br />
                @using (Html.BeginForm(
                            "Delete",
                            "Wards",
                            new
                            {
                                ward.Id
                            },
                            FormMethod.Post))
                {
                    <button type="submit" class="btn btn-sm btn-info" style="margin-top: 5px;" onclick="return onDeleteClick();">Удалить</button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>