@model DoctorExaminationDetailsModel
@{
    ViewData["Title"] = $"Осмотр (id = {Model.DoctorExamination.Id})";
}

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<table class="props-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.DoctorExamination.Date):</th>
        <td>@Html.DisplayFor(model => model.DoctorExamination.Date)</td>
    </tr>
</table>

<div class="props-margin-top">
    <h3>@Html.DisplayNameFor(model => model.Disease) <a asp-controller="Diseases" asp-action="Details" asp-route-id="@Model.Disease.Id" class="btn btn-light">@Html.DisplayFor(model => model.Disease.Id)</a></h3>
</div>
<table class="props-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Disease.Name):</th>
        <td>@Html.DisplayFor(model => model.Disease.Name)</td>
    </tr>
</table>

<div class="props-margin-top">
    <h3>@Html.DisplayNameFor(model => model.Doctor) <a asp-controller="Doctors" asp-action="Details" asp-route-id="@Model.Doctor.Id" class="btn btn-light">@Html.DisplayFor(model => model.Doctor.Id)</a></h3>
</div>
<table class="props-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Doctor.Name):</th>
        <td>@Html.DisplayFor(model => model.Doctor.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Doctor.Salary):</th>
        <td>@Html.DisplayFor(model => model.Doctor.Salary)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Doctor.Surname):</th>
        <td>@Html.DisplayFor(model => model.Doctor.Surname)</td>
    </tr>
</table>

<div class="props-margin-top">
    <h3>@Html.DisplayNameFor(model => model.Examination) <a asp-controller="Examinations" asp-action="Details" asp-route-id="@Model.Examination.Id" class="btn btn-light">@Html.DisplayFor(model => model.Examination.Id)</a></h3>
</div>
<table class="props-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Examination.Name):</th>
        <td>@Html.DisplayFor(model => model.Examination.Name)</td>
    </tr>
</table>

<div class="props-margin-top">
    <h3>@Html.DisplayNameFor(model => model.Ward) <a asp-controller="Wards" asp-action="Details" asp-route-id="@Model.Ward.Id" class="btn btn-light">@Html.DisplayFor(model => model.Ward.Id)</a></h3>
</div>
<table class="props-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Ward.Name):</th>
        <td>@Html.DisplayFor(model => model.Ward.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Ward.Places):</th>
        <td>@Html.DisplayFor(model => model.Ward.Places)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Ward.DepartmentName):</th>
        <td>@Html.DisplayFor(model => model.Ward.DepartmentName) (@Html.DisplayFor(model => model.Ward.DepartmentId))</td>
    </tr>
</table>