@model ProfessorDetailsModel
@{
    ViewData["Title"] = $"Профессор (id = {Model.Professor.Id})";
}

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="props-margin-top">
    <h3>@Html.DisplayNameFor(model => model.Doctor)</h3>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th style="width: 20%;">@Html.DisplayNameFor(model => model.Doctor.Id)</th>
        <th style="width: 30%;">@Html.DisplayNameFor(model => model.Doctor.Name)</th>
        <th style="width: 30%;">@Html.DisplayNameFor(model => model.Doctor.Salary)</th>
        <th style="width: 30%;">@Html.DisplayNameFor(model => model.Doctor.Surname)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th><a asp-controller="Doctors" asp-action="Details" asp-route-id="@Model.Doctor.Id" class="btn btn-light">@Html.DisplayFor(model => model.Doctor.Id)</a></th>
        <td>@Html.DisplayFor(model => model.Doctor.Name)</td>
        <td>@Html.DisplayFor(model => model.Doctor.Salary)</td>
        <td>@Html.DisplayFor(model => model.Doctor.Surname)</td>
    </tr>
    </tbody>
</table>