@model DepartmentsIndexModel

<script type="text/javascript">
    function onDeleteClick() {
        return confirm("Удалить департамент?");
    }
</script>

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>Департаменты</h2>
</div>

<a asp-action="Create" class="btn btn-sm btn-primary" style="margin-top: 5px; width: 160px;"><i class="fa fa-plus"></i> Создать</a>

@using (Html.BeginForm(
            "Index",
            "Departments",
            FormMethod.Get,
            new { onsubmit = "formGetRedirect(event);" }))
{
    <table>
        <tr>
            <td style="align-content: end;">
                <label asp-for="Buildings">@Html.DisplayNameFor(model => model.Buildings):</label>
                <input asp-for="Buildings" class="form-control" />
            </td>
            <td style="align-content: end;">
                <label asp-for="FinancingFrom">@Html.DisplayNameFor(model => model.FinancingFrom):</label>
                <input asp-for="FinancingFrom" class="form-control" />
            </td>
            <td style="align-content: end;">
                <label asp-for="FinancingTo">@Html.DisplayNameFor(model => model.FinancingTo):</label>
                <input asp-for="FinancingTo" class="form-control" />
            </td>
            <td style="align-content: end;">
                <label asp-for="Names">@Html.DisplayNameFor(model => model.Names):</label>
                <input asp-for="Names" class="form-control" />
            </td>
            <td style="align-content: end;">
                <button type="submit" class="btn btn-sm btn-success" style="width: 100px; line-height: 2;"><i class="fa fa-search"></i> Поиск</button>
            </td>
            <td style="align-content: end;">
                <a asp-action="Index" class="btn btn-sm btn-default" style="width: 100px; line-height: 2;"><i class="fa fa-times"></i> Сбросить</a>
            </td>
        </tr>
    </table>
}

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Departments!.FirstOrDefault()!.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Departments!.FirstOrDefault()!.Building)</th>
        <th>@Html.DisplayNameFor(model => model.Departments!.FirstOrDefault()!.Financing)</th>
        <th>@Html.DisplayNameFor(model => model.Departments!.FirstOrDefault()!.Name)</th>
        <th />
    </tr>
    </thead>
    <tbody>
    @foreach (var department in Model.Departments.EmptyIfNull())
    {
        <tr>
            <th>@Html.DisplayFor(model => department.Id)</th>
            <td>@Html.DisplayFor(model => department.Building)</td>
            <td>@Html.DisplayFor(model => department.Financing)</td>
            <td>@Html.DisplayFor(model => department.Name)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-sm btn-info" style="margin-top: 5px;"><i class="fa fa-pencil"></i> Редактировать</a>
                <br />
                @using (Html.BeginForm(
                            "Delete",
                            "Departments",
                            new
                            {
                                department.Id
                            },
                            FormMethod.Post))
                {
                    <button type="submit" class="btn btn-sm btn-danger" style="margin-top: 5px;" onclick="return onDeleteClick();"><i class="fa fa-trash"></i> Удалить</button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a onclick="changePage(@Model.Page - 1);" class="btn btn-sm btn-outline-primary@(Model.HasPrevPage ? "" : " disabled")"><i class="fa fa-chevron-left"></i> Назад</a>
    Страница @Model.Page из @Model.TotalPages
    <a onclick="changePage(@Model.Page + 1);" class="btn btn-sm btn-outline-primary@(Model.HasNextPage ? "" : " disabled")">Вперед <i class="fa fa-chevron-right"></i></a>
</div>